<aside class="main-sidebar sidebar-light-primary elevation-1">
    
    <a href="index3.html" class="brand-link">
        <img src="~/photo.jpg" alt="Tactsoft Logo" class="brand-image img-circle elevation-1" style="opacity: .8">
        <span class="brand-text font-weight-light">Tactsoft</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-globe nav-icon"></i>
                        <p>
                            All Tables
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Country" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Country</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="District" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>District</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Thana" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Thana</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Relative" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Relative</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reading" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Reading</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Speaking" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Speaking</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Writing" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Writing</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="CompanySize" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>CompanySize</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="IndustryType" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Industry Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="JobCategory" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>Job Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ResumeReceivingOption" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Resume Receiving Option</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ServiceType" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Service Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="OrganizationType" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Organization Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="BloodGroup" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Blood Group</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Board" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Board</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="YearOfPassing" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Year</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Result" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Result</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="DegreeTitle" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Degree</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Expertise" asp-action="Index">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p> Expertise</p>
                            </a>
                        </li>
                    </ul>


                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-globe nav-icon"></i>
                        <p>
                            All Tables
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Company" asp-action="Index">
                                <i class="fas fa-user-tie nav-icon"></i>
                                <p>Company</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="PostingJobs" asp-action="Index">
                                <i class="fas fa-user-tie nav-icon"></i>
                                <p>Posting Jobs</p>
                            </a>
                        </li>
                    </ul>

                </li>
                
            </ul>
        </nav>
    </div>
</aside>
