<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home - Tactsoft</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/fab-icon.png">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<!-- Bootstrap5 -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- slick slider -->
    <link href="~/assets/css/slick/slick.css" rel="stylesheet" />
    <link href="~/assets/css/slick/slick-theme.css" rel="stylesheet" />
	<!-- AOS -->
    <link href="~/assets/css/aos.css" rel="stylesheet" />
    <!-- Magnific-Popup -->
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
	<!-- My CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
	<!-- My Responsive CSS -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
	</head>